.login {
    width: 500px;
    background-color: antiquewhite;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .data {
            margin-left: 15px;
        }
        .btn {
            width: 100px;
            margin: 0 auto;
        }
    }
}