.header {
    width: 100%;
    .MultiShop {
        display: block;
        margin-left: 50px;
        h1 {
            font-weight: 700;
            font-size: 2.5rem;
            .multi-icon {
                color: #FFD333;
                background-color: #3D464D;
                padding: 0 5px;
            }
            .shop-icon {
                color: #3D464D;
                background-color: #FFD333;
                padding: 0 5px;
            }
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #3D464D;
        padding: 20px 50px;
        .navigation {
            a {
                text-decoration: none;
                margin-left: 15px;
                font-size: 18px;
            }
        }
        .buy {
            display: flex;
            color: #FFD333;
            gap: 10px;
            a {
                text-decoration: none;
            }
            .icon-nav {
                margin-left: 20px;
                color: #FFD333;

            }
            .count-cart {
                width: 20px;
                height: 20px;
                color: white;
                border-radius: 50%;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
            }

        }
    }
}

.active {
    color: #FFD333;
}

.inactive {
    color: white;
}

