.red {
    border: 2px solid red;
}

.green {
    border: 1px solid green;
}

.register {
    margin-top: 50px;
    width: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    text-align: center;
}

.registerBtn {
    width: 100px;
    margin: 10px auto;
}