.question {
    background-color:bisque;
    padding: 30px 0px;
    border: 1px solid yellowgreen;

}

.variants {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    label {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    
    }
}

.variant {
    margin-top: 30px;
    margin-left: 5px;
}


.add {
    position: fixed;
    right: 30px;
    border-radius: 3px;
    border: 2px solid rgb(148, 199, 40);
}



