.my-icons{
    transition: 0.3s;
    font-size: 90px;
    width: 320px;
    height: 120px;
    padding-top: 60px;
}

.my-icons:hover{
    color:blanchedalmond;
}

.box-content{
    margin: 10px 10px 10px 0px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}


.box-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 730px;

}