.items {
    width: 250px;
    h4 {
        color:#1A6694;
        margin-top: 15px;
    }

    p {
        margin-top: 15px;
        width: inherit;
    }
    .image {
        width: 250px;
        height: 250px;
    }

    .price {
        color: #1A6694;
    }
}